@import "tailwindcss";

:root {
  --background: #ffffff;
  --dark-background: #0a0a0a;
  --foreground: #171717;
  --dark-foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--dark-background);
    --foreground: var(--dark-foreground);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.background.light {
  background: var(--background);
  color: var(--foreground);
}

.background.dark {
  background: var(--dark-background);
  color: var(--dark-foreground);
}

.sidebar {
  background: var(--color-slate-300);
  color: black;
}
.sidebar.dark {
  background: var(--color-slate-700);
  color: white;
}

@layer base {
  img, video {
    height: "";
  }

  h1 {
    @apply text-2xl;
  }

  h2 {
    @apply text-xl;
  }
}

@layer components {
  .editor-preview {
    & h1, h2 {
      margin-top: 2rem;
      line-height: 0;
    }

    & a {
      color: var(--color-blue-700);
    }

    & a:hover {
      text-decoration: underline;
    }

    & li {
      list-style: disc inside;
    }
  }
}